@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --black: rgba(2, 7, 21, 1);
  --body-1-font-family: 'Pretendard', Helvetica;
  --body-1-font-size: 16px;
  --body-1-font-style: normal;
  --body-1-font-weight: 400;
  --body-1-letter-spacing: 0px;
  --body-1-line-height: normal;
  --body-2-font-family: 'Pretendard', Helvetica;
  --body-2-font-size: 14px;
  --body-2-font-style: normal;
  --body-2-font-weight: 300;
  --body-2-letter-spacing: 0px;
  --body-2-line-height: normal;
  --button-font-family: 'Pretendard', Helvetica;
  --button-font-size: 14px;
  --button-font-style: normal;
  --button-font-weight: 500;
  --button-letter-spacing: 0px;
  --button-line-height: 22px;
  --caption-font-family: 'Pretendard', Helvetica;
  --caption-font-size: 12px;
  --caption-font-style: normal;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0px;
  --caption-line-height: normal;
  --collection-1-color: rgba(255, 255, 255, 1);
  --errorred: rgba(232, 19, 75, 1);
  --gray-100: rgba(237, 241, 246, 1);
  --gray-200: rgba(202, 212, 231, 1);
  --gray-300: rgba(98, 104, 113, 1);
  --gray-600: rgba(61, 64, 70, 1);
  --h1-font-family: 'Pretendard', Helvetica;
  --h1-font-size: 34px;
  --h1-font-style: normal;
  --h1-font-weight: 700;
  --h1-letter-spacing: 0px;
  --h1-line-height: normal;
  --h2-font-family: 'Pretendard', Helvetica;
  --h2-font-size: 24px;
  --h2-font-style: normal;
  --h2-font-weight: 500;
  --h2-letter-spacing: 0px;
  --h2-line-height: normal;
  --h3-font-family: 'Pretendard', Helvetica;
  --h3-font-size: 20px;
  --h3-font-style: normal;
  --h3-font-weight: 400;
  --h3-letter-spacing: 0px;
  --h3-line-height: normal;
  --heading-1-font-family: 'Pretendard', Helvetica;
  --heading-1-font-size: 20px;
  --heading-1-font-style: normal;
  --heading-1-font-weight: 500;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: normal;
  --mainblue: rgba(10, 115, 249, 1);
  --maingreen: rgba(72, 250, 117, 1);
  --searchpopularred: rgba(240, 86, 86, 1);
  --shadow-blue: 0px 0px 15px 0px rgba(10, 115, 249, 0.15);
  --sub-1-font-family: 'Pretendard', Helvetica;
  --sub-1-font-size: 16px;
  --sub-1-font-style: normal;
  --sub-1-font-weight: 600;
  --sub-1-letter-spacing: 0px;
  --sub-1-line-height: normal;
  --sub-2-font-family: 'Pretendard', Helvetica;
  --sub-2-font-size: 14px;
  --sub-2-font-style: normal;
  --sub-2-font-weight: 300;
  --sub-2-letter-spacing: 0px;
  --sub-2-line-height: normal;
  --subskyblue: rgba(72, 205, 250, 1);
  --subskyblue-2: rgba(156, 250, 243, 1);
  --white: rgba(255, 255, 255, 1);
}
